* {
    box-sizing: border-box;
}

body {
    background-color: rgba(160, 160, 160, 0.363);
    font-family: Arial, sans-serif;
    font-size: 1.1em;
}

header {
    width: 100%;
    text-align: center;
    font-family: 'Suez One', serif;
    font-size: 2em;
    margin: 0px 0px 00px 0px;
    padding: 6px 0px;
    background-color: rgb(47, 47, 47);
    color: white;
    border-bottom: 1px solid rgba(160, 160, 160, 0.363);
}

.navbar {
    width: 100%;
    background-color: rgb(47, 47, 47);
    overflow: auto;
    margin-bottom: 10px;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 50%;
    text-align: center;
    height: inherit;
}

.navbar a:hover {
    background-color: rgba(160, 160, 160, 0.363);
    height: inherit;
}

.active {
    background-color: rgb(12, 70, 50);
    height: inherit;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
    }
}

.grid-container {
    background-color: rgb(250, 250, 250);
    padding: 1% 5%;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-gap: 30px;
    grid-template-areas: "titulo" "formu1" "formu2" "formu3" "boton1" "result" "boton2";
}

.titulo {
    grid-area: titulo;
    background-color: rgba(0, 128, 0, 0.288);
    text-align: center
}

.formu1 {
    grid-area: formu1;
    padding: 20px 10px;
    border: 1px solid rgb(104, 202, 169);
    border-radius: 10px 10px;
    text-align: center;
}

.formu2 {
    padding: 10px 8px 25px 8px;
    text-align: center;
    border: 1px solid rgb(104, 202, 169);
    border-radius: 10px 10px;
    grid-area: formu2;
}

.formu3 {
    grid-area: formu3;
    padding: 10px 8px 25px 8px;
    text-align: center;
    border: 1px solid rgb(104, 202, 169);
    border-radius: 10px 10px;
}

.boton1 {
    grid-area: boton1;
    text-align: center;
}

.result {
    grid-area: result;
    padding: 2% 5%;
    border: 2px dotted rgba(160, 43, 82, 0.534);
    border-radius: 70px 70px;
    text-align: left;
}

.boton2 {
    grid-area: boton2;
    text-align: center;
    padding-bottom: 10px;
}

.col-3 {
    display: block;
    width: 100%;
    text-align: center;
}

.col-4 {
    display: block;
    width: 100%;
    text-align: center;
}

.col-1 {
    display: inline-block;
    width: 26%;
    text-align: right;
}

.col-2 {
    display: inline-block;
    width: 40%;
    text-align: left;
}

.col-5 {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0px 3px;
}

.col-6 {
    display: block;
    width: 100%;
    text-align: center;
}

.col-7 {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0px 30px;
}

@media (min-width: 740px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas: "titulo titulo" "formu1 formu1" "formu2 formu3" "boton1 boton1" "result result" "boton2 boton2";
    }
    .col-5 {
        display: inline-block;
        width: auto;
        text-align: left;
        margin-left: 0%;
    }
    .col-7 {
        display: inline-block;
        width: 0%;
        text-align: left;
    }
    .col-6 {
        display: inline-block;
        width: auto;
        text-align: left;
    }
}

@media (min-width: 760px) {
    .col-3 {
        display: inline-block;
        width: auto;
        text-align: left;
        padding: 0px 20px;
    }
    .col-4 {
        display: inline-block;
        width: auto;
        text-align: right;
        padding: 0px 20px;
    }
    .col-5 {
        display: inline-block;
        width: auto;
        text-align: left;
    }
    .col-7 {
        display: inline-block;
        width: 5%;
        text-align: left;
    }
    .col-6 {
        display: inline-block;
        width: auto;
        text-align: left;
    }
}

@media (min-width: 788px) {
    .col-5 {
        display: inline-block;
        width: auto;
        text-align: left;
    }
    .col-7 {
        display: inline-block;
        width: 10%;
        text-align: left;
    }
    .col-6 {
        display: inline-block;
        width: auto;
        text-align: left;
    }
}

@media (min-width: 872px) {
    .col-5 {
        display: inline-block;
        width: auto;
        text-align: left;
    }
    .col-7 {
        display: inline-block;
        width: 20%;
        text-align: left;
    }
    .col-6 {
        display: inline-block;
        width: auto;
        text-align: left;
    }
}

.res-int {
    text-align: left;
    padding: 0%;
}

.nota {
    color: rgba(160, 18, 18, 0.774);
    font-size: 0.9em;
    font-family: serif;
}

#btn-ingresar:hover {
    background-color: rgba(5, 85, 72, 0.514);
    color: white;
    font-weight: bold;
}

#btn-ingresar {
    padding: 8px;
    font-family: Arial, sans-serif;
    font-size: 1em;
    width: 60%;
}

#btn-vaciar:hover {
    background-color: rgba(110, 13, 13, 0.596);
    font-weight: bold;
}

#btn-vaciar {
    padding: 8px;
    font-family: Arial, sans-serif;
    font-size: 1em;
    width: 40%;
}

footer {
    background-color: rgb(47, 47, 47);
    color: white;
    font-style: oblique;
    text-align: center;
    font-size: 0.8em;
    padding: 2px 0px;
    margin-top: 10px;
}

.oculto {
    color: rgb(250, 250, 250);
}
